body{
    flex: 1;
    display: flex;
    flex-direction: column;
}

.header{
    display: flex;
    justify-content: space-between;
}

.header ul{
    list-style: none;
    display: flex;
    gap: 16px;
}

.hero{
    display: flex;
}

.info-imgs{
    display: flex;
}