body{
    flex: 1;
    display: flex;
    flex-direction: column;
    margin: 0;
}

.header{
    display: flex;
    justify-content: space-between;
    margin-bottom: 60px;
}

.header ul{
    list-style: none;
    display: flex;
    gap: 16px;
}

h2{
    margin-top: 0;
}

.hero{
    display: flex;
    gap: 76px;
    align-items: center;
    justify-content: center;
    background-color: #eee;
}

.herotxt{
    padding: 0;
    margin: 0;
    width: 350px;
}

.hero img {
    object-fit: cover;
    max-width: 350px;
    /* flex-shrink: 0; */
}

.info-imgs{
    display: flex;
    justify-content: center;
    gap: 32px;
}

.info-img img{
    width: 150px;
    border-radius: 8px;
}

.quote {
    background-color: #eee;
}

.quote-container{
    max-width: 500px;
    margin: auto;
}

.quote-itself{
    font-size: x-large;
    font-style: italic;
}

.author{
    text-align: right;
    margin-right: 50px;
}

.footer{
    text-align: center;
    font-size: small;
}