body{
    flex: 1;
    display: flex;
    flex-direction: column;
    margin: 0;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}

.header{
    display: flex;
    justify-content: space-between;
    background-color: #1f2937;
    color: #e5e7eb;
    padding: 0px 24px;
}

.hero .subtitle{
    font-style: italic;
    font-size: 14px;
}

.header ul{
    list-style: none;
    display: flex;
    gap: 16px;
}

h2{
    margin: 0;
    font-size: 48px;
    font-weight: bolder;
    color: #f9faf8;
}

button{
    background-color: #3882f6;
    border-radius: 12px;
    color: #f9faf8;
    border: none;
    padding: 8px 16px;
}

.hero{
    display: flex;
    gap: 76px;
    align-items: center;
    justify-content: center;
    background-color: #1f2937;
}

.herotxt{
    padding: 0;
    margin: 0;
    width: 400px;
    font-size: 18px;
    color: #e5e7eb;
}

.hero img {
    object-fit: cover;
    max-width: 400px;
}

.hero, .info, .quote, .call{
    height: 450px;
}

.info h3{
    font-size: 36px;
    font-weight: bolder;
    color: #1f2937;
    text-align: center;
}

.info-imgs{
    display: flex;
    justify-content: center;
    gap: 32px;
}

.info-img img{
    width: 150px;
    border-radius: 8px;
}

.quote {
    background-color: #e5e7eb;
    display: flex;
    align-items: center;
    justify-content: center;
}

.quote-container{
    max-width: 600px;
    margin: auto;
}

.quote-itself{
    font-size: 36px;
    font-style: italic;
    color: #1f2937;
}

.author{
    text-align: right;
    margin-right: 50px;
    font-weight: bold;
}

.footer{
    text-align: center;
    font-size: small;
    background-color: #eee;
}

.call{
    display: flex;
    align-items: center;
    justify-content: center;
}
.call-box{
    background-color: #3882f6;
    width: 800px;
    border-radius: 8px;
    padding: 32px;
    display: flex;
    gap: 16px;
    align-items: center;
    color: #e5e7eb;
}

.call-box-text p{
    font-weight: 100;
}

.call-box button{
    border: solid 1px #e5e7eb;
}